@import "tailwindcss";

@theme {
  --color-primary: #122056;
  --color-accent: #5B65DC;
  --color-secondary: #EEEFFD;
  --color-background: #FAFAFD;
  --color-surface: #FFFFFF;
  --color-text-primary: #122056;
  --color-text-secondary: #5B65DC;
  --color-danger: #DC2626;
  --color-success: #16A34A;
}